/* TabBar.css */
.boxMain {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.boxSecondary {
  display: flex;
  align-items: center;
}

.iconButton {
  margin-left: 1rem;
}

.logo {
  width: 200px;
  margin-right: 20px;
}

@media (max-width: 340px) {
  .desktopOnly {
    display: none;
  }

  .logo {
    width: 150px;
    margin-right: 0;
  }
}
